.cartart{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.quant{
    display: flex;
    align-items: center;
    
}
.header{
    text-align: center;
    background-color: black;
    color :red;
    height : 10vh;
    font-weight: bold;
}

.fas{
    margin : 0 10px; 
}

.cart{
    border-bottom : 5px solid black;
}

.total {
    text-align: right;
}